[submodule "third_party/SPIRV-Headers"]
	path = third_party/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
